################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ClassBookApplication/obj
/.vs/
/ClassBookApplication/bin/
/ClassBookApplication/Content/Image/
/ClassBookApplication/ClassBookApplication.csproj.user
/ClassBookApplication/Properties/PublishProfiles
/ClassBookApplication/.config
/ClassBookApplication/wwwroot/image
