@model ForgotPasswordModel
@{
    ViewData["Title"] = "Forgot Password";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section>
    <div class="bannerimg">
        <div class="header-text mb-0">
            <div class="container">
                <div class="text-center text-white ">
                    <h1 class="">Forgot Password</h1>
                    <ol class="breadcrumb text-center">
                        <li class="breadcrumb-item"><a href="#">Home</a></li>
                        <li class="breadcrumb-item"><a href="#">Pages</a></li>
                        <li class="breadcrumb-item active text-white" aria-current="page">Forgot Password</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-5 col-xl-4 col-md-6 d-block mx-auto">
                <div class="single-page w-100 p-0">
                    <div class="wrapper wrapper2">
                        <form id="forgotpsd" class="card-body">
                            <h3 class="pb-2">Forgot password</h3>
                            <div class="mail">
                                <label asp-for="EmailId" class="form-label text-dark"></label>
                                <input asp-for="EmailId" class="form-control" />
                                <span asp-validation-for="EmailId" class="text-danger"></span>
                            </div>
                            <div class="submit">
                                <a class="btn btn-primary btn-block" Id="sendForgotPassword">Send</a>
                            </div>
                            <div class="text-center text-dark mb-0" style="color:green !important" id="emailSentMessage">
                                Email Sent Succefully
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Forgot password-->
<!-- Onlinesletter-->
<section class="sptb bg-white border-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xl-6 col-md-12">
                <div class="sub-newsletter">
                    <h3 class="mb-2"><i class="fa fa-paper-plane-o mr-2"></i> Subscribe To Our Onlinesletter</h3>
                    <p class="mb-0">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor</p>
                </div>
            </div>
            <div class="col-lg-5 col-xl-6 col-md-12">
                <div class="input-group sub-input mt-1">
                    <input type="text" class="form-control input-lg " placeholder="Enter your Email">
                    <div class="input-group-append ">
                        <button type="button" class="btn btn-primary btn-lg br-tr-3  br-br-3">
                            Subscribe
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Onlinesletter-->
<script>
    $(document).ready(function () {
        $("#emailSentMessage").hide();
        $("#sendForgotPassword").click(function () {
            var emailId = $("#EmailId").val();
            if (emailId == "") {
                alert('Email Id shhould not be empty');
            }
            else {
                $.ajax({
                    url: "/User/SendForgotPasword",
                    data: { emailId: emailId },
                    cache: false,
                    type: 'POST',
                    success: function (data) {
                        $("#emailSentMessage").show();
                        if (data.status == "true") {
                            $("#emailSentMessage").text(data.message);
                        }
                        else {
                            $("#emailSentMessage").text(data.message);
                        }
                    }
                });
            }
        });
    });
</script>