@model ContactUsModel
@{
    ViewData["Title"] = "Contact Us";
}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-1 pt-0 card cover-image spacing  pb-10 bg-background2" data-image-src="../assets/images/banners/banner1.jpg" style="border:0px">
                <div class="header-text mb-0">
                    <div class="container">
                        <div class="text-center text-white ">
                            <h1 class=""><span class="font-weight-bold">2000+</span> Best  Courses Available Here!</h1>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="sptb bg-white">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="row text-white">
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-0">
                            <div class="support-service bg-primary">
                                <i class="fa fa-phone"></i>
                                <h6>+68 872-627-9735</h6>
                                <P>Free Support!</P>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-0">
                            <div class="support-service bg-secondary">
                                <i class="fa fa-clock-o"></i>
                                <h6>Mon-Sat(10:00-19:00)</h6>
                                <p>Working Hours!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-0 mb-lg-0">
                            <div class="support-service bg-success">
                                <i class="fa fa-map-marker"></i>
                                <h6>872 School Street Opa Locka, TN 37072</h6>
                                <p> New York, USA</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12">
                        <div class="card border-0 mb-0">
                            <div class="support-service bg-orange">
                                <i class="fa fa-envelope-o"></i>
                                <h6>yourdomain@gmail.com</h6>
                                <p>Support us!</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="sptb">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-xl-6  col-md-12">
                <div class="map1">
                    <div class="map-header-layer" id="map2"></div>
                </div>
            </div>
            <div class="col-lg-6 col-xl-6 col-md-12">
                <div class="card mb-0">
                    <div class="card-body">
                        <div class="form-group">
                            <label asp-for="Name" class="form-label text-dark"></label>
                            <input asp-for="Name" class="form-control" placeholder="Your Name" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EmailId" class="form-label text-dark"></label>
                            <input asp-for="EmailId" class="form-control" placeholder="Your Name" />
                            <span asp-validation-for="EmailId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="MobileNo" class="form-label text-dark"></label>
                            <input asp-for="MobileNo" class="form-control" placeholder="Contact Number" />
                            <span asp-validation-for="MobileNo" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="Message" class="form-label text-dark"></label>
                            <input asp-for="Message" class="form-control" placeholder="Message" />
                            <span asp-validation-for="Message" class="text-danger"></span>
                        </div>
                        <div class="text-left">
                            <button type="button" class="btn btn-primary" id="ContactUsButton">Send Message</button>
                        </div>
                        <div class="text-center text-dark mb-0" style="color:green !important" id="emailContactUs">
                            We will contact you as soon as possible
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#emailContactUs").hide();
        $("#ContactUsButton").click(function () {
            var emailId = $("#EmailId").val();
            var name = $("#Name").val();
            var mopbileNO = $("#MobileNo").val();
            var message = $("#Message").val();
            if (emailId == "") {
                alert('Email Id shhould not be empty');
                return false;
            }
            if (name == "") {
                alert('name shhould not be empty');
                return false;
            }
            if (mopbileNO == "") {
                alert('MobileNo shhould not be empty');
                return false;
            }
            var data = {
                Name: name,
                EmailId: emailId,
                MobileNo: mopbileNO,
                Message: message
            }
            $.ajax({
                url: "/Common/SendContactUs",
                data: data,
                cache: false,
                type: 'POST',
                success: function (data) {
                    $("#emailContactUs").show();
                    if (data.status == "true") {
                        $("#emailContactUs").text(data.message);
                    }
                    else {
                        $("#emailContactUs").text(data.message);
                    }
                }
            });
        });
    });
</script>