@model List<CourseCategoryModel>
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Categories</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            @foreach (var item in Model)
            {
                <div class="col-xl-3 col-lg-6 col-md-6">
                    <div class="card">
                        <div class="item-card">
                            <div class="item-card-desc">
                                <a href="/@item.CategoryUrl"></a>
                                <div class="item-card-img">
                                    <img src="@item.ImageUrl" alt="@item.Name">
                                </div>
                                <div class="item-card-text">
                                    <h4 class="mb-0">@item.Name</h4>
                                    <span class="badge badge-pill badge-secondary w-15">@item.Count</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>