@{
    ViewData["Title"] = "Home Page";
}
<section>
    <div class="row">
        <div class="col-md-12">
            <div class="banner-1 pt-0 card cover-image spacing  pb-10 bg-background2" data-image-src="../assets/images/banners/banner1.jpg" style="border:0px">
                <div class="header-text mb-0">
                    <div class="container">
                        <div class="text-center text-white ">
                            <h1 class="mb-1">The World ' s Largest Selection of Courses</h1>
                            <p class="distracted">It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                        </div>
                        <div class="row">
                            <div class="col-xl-10 col-lg-12 col-md-12 d-block mx-auto">
                                <div class="item-search-tabs">
                                    <div class="item-search-menu">
                                        <ul class="nav">
                                            <li class=""><a href="#tab1" class="active" data-toggle="tab">Hotel Management Classes</a></li>
                                            <li><a href="#tab2" data-toggle="tab">Online</a></li>
                                            <li><a href="#tab3" data-toggle="tab">Data Science</a></li>
                                            <li><a href="#tab4" data-toggle="tab">Web Security</a></li>
                                            <li><a href="#tab5" data-toggle="tab">Python Classes</a></li>
                                            <li><a href="#tab6" data-toggle="tab">Business</a></li>
                                        </ul>
                                    </div>
                                    <div class="tab-content">
                                        <div class="tab-pane active" id="tab1">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text6" placeholder="Looking For Hotel Management Classes">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text7" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab2">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text8" placeholder="Looking For Job">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text81" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab3">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text9" placeholder="Looking For Data Science">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text91" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab4">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text10" placeholder="Looking For Marketing">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text101" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab5">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text11" placeholder="Looking For Python Classes">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text111" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab6">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text12" placeholder="Looking For Business">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text121" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab7">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-7 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text13" placeholder="Looking For Education">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-5  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text131" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab8">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text14" placeholder="Looking For Security Hacking">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text141" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="tab-pane" id="tab9">
                                            <div class="form row">
                                                <div class="form-group  col-xl-6 col-lg-5 col-md-12 mb-0">
                                                    <input type="text" class="form-control  " id="text15" placeholder="Looking For Driving">
                                                </div>
                                                <div class="form-group col-xl-6 col-lg-7  col-md-12 mb-0">
                                                    <div class="row no-gutters bg-white br-3">
                                                        <div class="form-group  col-xl-8 col-lg-7 col-md-12 mb-0">
                                                            <input type="text" class="form-control border" id="text151" placeholder="Location">
                                                        </div>
                                                        <div class="col-xl-4 col-lg-5 col-md-12 mb-0">
                                                            <a href="#" class="btn btn-block btn-primary fs-14"><i class="fa fa-search"></i>  Search Now</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div><!-- /header-text -->
            </div>
        </div>
    </div>
</section>
<section class="sptb bg-white">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Categories</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/21.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Business</h4>
                                <span class="badge badge-pill badge-secondary w-15">45</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/24.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Web Designing</h4>
                                <span class="badge badge-pill badge-primary w-15">23</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/22.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Networking</h4>
                                <span class="badge badge-pill badge-success w-15">48</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/14.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Marketing</h4>
                                <span class="badge badge-pill badge-danger w-15">15</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card mb-xl-0">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/23.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Data Science</h4>
                                <span class="badge badge-pill badge-warning w-15">12</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card mb-xl-0">
                    <div class="item-card ">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/17.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Literature</h4>
                                <span class="badge badge-pill badge-danger w-15">05</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card mb-xl-0">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/19.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Beautician</h4>
                                <span class="badge badge-pill badge-info w-15">09</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-lg-6 col-md-6">
                <div class="card mb-0">
                    <div class="item-card">
                        <div class="item-card-desc">
                            <a href="#"></a>
                            <div class="item-card-img">
                                <img src="../assets/images/media/25.jpg" alt="img" class="">
                            </div>
                            <div class="item-card-text">
                                <h4 class="mb-0">Security Hacking</h4>
                                <span class="badge badge-pill badge-success w-15">65</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Section-->
<section class="sptb pt-6 pb-6">
    <div class="container">
        <div class="row">
            <div class="col-xl-3 col-md-6 col-sm-12 d-catmb mb-4 mb-xl-0">
                <div class="d-flex">
                    <div>
                        <span class="icon-service1 icon-primary fs-35">
                            <i class="fe fe-layers"></i>
                        </span>
                    </div>
                    <div class="ml-4">
                        <h3 class="mb-2 font-weight-bold">Learn Anything</h3>
                        <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 d-catmb mb-4 mb-xl-0">
                <div class="d-flex">
                    <div>
                        <span class="icon-service1 icon-secondary fs-35">
                            <i class="fe fe-book"></i>
                        </span>
                    </div>
                    <div class="ml-4 mt-1">
                        <h3 class=" mb-2 font-weight-bold">Best Courses</h3>
                        <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12 d-catmb mb-4 mb-md-0">
                <div class="d-flex">
                    <div>
                        <span class="icon-service1 icon-success fs-35">
                            <i class="fe fe-users"></i>
                        </span>
                    </div>
                    <div class="ml-4 mt-1">
                        <h3 class=" mb-2 font-weight-bold">Expert Faculties</h3>
                        <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-3 col-md-6 col-sm-12">
                <div class="d-flex">
                    <div>
                        <span class="icon-service1 icon-warning fs-35">
                            <i class="fe fe-file-text"></i>
                        </span>
                    </div>
                    <div class="ml-4 mt-1">
                        <h3 class=" mb-2 font-weight-bold">Verified Provider </h3>
                        <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb ">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Latest Classes</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div id="myCarousel1" class="owl-carousel owl-carousel-icons2">
            <div class="item">
                <div class="card mb-0">
                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                    <div class="item-card2-img">
                        <a href="page-details.html"></a>
                        <img src="../assets/images/media/pictures/6.jpg" alt="img" class="cover-image">
                        <div class="item-tag">
                        </div>
                        <div class="item-overly-trans">
                            <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">5.0</span>
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="5">
                                <div class="rating-stars-container">
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-card2-icons">
                        <a href="page-details.html" class="item-card2-icons-l"> <i class="fa fa-share-alt"></i></a>
                        <a href="page-details.html" class="item-card2-icons-l"> <i class="fa fa-heart text-danger"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="item-card2">
                            <div class="item-card2-desc">
                                <div class="item-card2-text mb-3">
                                    <a href="page-details.html" class="text-dark"><h4 class="mb-2">Coding Classes</h4></a>
                                </div>
                                <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="item-card2-footer">
                            <a class="btn btn-primary text-white float-right"><span class="font-weight-bold"> Subscribe</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                    <div class="item-card2-img">
                        <a href="page-details.html"></a>
                        <img src="../assets/images/media/pictures/5.jpg" alt="img" class="cover-image">
                        <div class="item-tag">

                        </div>
                        <div class="item-overly-trans">
                            <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">4.3</span>
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
                                <div class="rating-stars-container">
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-card2-icons">
                        <a href="#" class="item-card2-icons-l"> <i class="fa fa-share-alt"></i></a>
                        <a href="page-details.html" class="item-card2-icons-l "> <i class="fa fa-heart-o"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="item-card2">
                            <div class="item-card2-desc">
                                <div class="item-card2-text mb-3">
                                    <a href="page-details.html" class="text-dark"><h4 class="mb-2">Guitar classes at home</h4></a>
                                </div>
                                <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="item-card2-footer">
                            <a class="btn btn-primary text-white float-right"><span class="font-weight-bold"> Subscribe</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item-card2-img">
                        <a href="page-details.html"></a>
                        <img src="../assets/images/media/pictures/1.jpg" alt="img" class="cover-image">
                        <div class="item-tag">

                        </div>
                        <div class="item-overly-trans">
                            <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">3.9</span>
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
                                <div class="rating-stars-container">
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-card2-icons">
                        <a href="#" class="item-card2-icons-l"> <i class="fa fa-share-alt"></i></a>
                        <a href="page-details.html" class="item-card2-icons-l "> <i class="fa fa-heart-o"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="item-card2">
                            <div class="item-card2-desc">
                                <div class="item-card2-text mb-3">
                                    <a href="page-details.html" class="text-dark"><h4 class="mb-2">HTML Classes</h4></a>
                                </div>
                                <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="item-card2-footer">
                            <a class="btn btn-primary text-white float-right"><span class="font-weight-bold">Subscribe</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="item-card2-img">
                        <a href="page-details.html"></a>
                        <img src="../assets/images/media/pictures/18.jpg" alt="img" class="cover-image">
                        <div class="item-tag">

                        </div>
                        <div class="item-overly-trans">
                            <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">4.8</span>
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
                                <div class="rating-stars-container">
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-card2-icons">
                        <a href="#" class="item-card2-icons-l"> <i class="fa fa-share-alt"></i></a>
                        <a href="page-details.html" class="item-card2-icons-l "> <i class="fa fa-heart-o"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="item-card2">
                            <div class="item-card2-desc">
                                <div class="item-card2-text">
                                    <a href="page-details.html" class="text-dark"><h4 class="mb-2">3D Animation Trainig</h4></a>
                                </div>
                                <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus </p>

                            </div>
                        </div>
                    </div>
                    <div class="card-footer">
                        <div class="item-card2-footer">
                            <a class="btn btn-primary text-white float-right"><span class="font-weight-bold">Subscribe</span></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="card mb-0">
                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                    <div class="item-card2-img">
                        <a href="page-details.html"></a>
                        <img src="../assets/images/media/pictures/12.jpg" alt="img" class="cover-image">
                        <div class="item-tag">

                        </div>
                        <div class="item-overly-trans">
                            <div class="rating-stars d-flex">
                                <span class="text-white mr-1 pl-1">4.0</span>
                                <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
                                <div class="rating-stars-container">
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm is--active">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                    <div class="rating-star sm">
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item-card2-icons">
                        <a href="#" class="item-card2-icons-l"> <i class="fa fa-share-alt"></i></a>
                        <a href="page-details.html" class="item-card2-icons-l "> <i class="fa fa-heart-o"></i></a>
                    </div>
                    <div class="card-body">
                        <div class="item-card2">
                            <div class="item-card2-desc">
                                <div class="item-card2-text mb-3">
                                    <a href="page-details.html" class="text-dark"><h4 class="mb-2">Digital Marketing</h4></a>
                                </div>
                                <p class="">At vero eos et accusamus et iusto odio dignissimos ducimus </p>


                            </div>
                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="item-card2-footer">
                            <a class="btn btn-primary text-white float-right"><span class="font-weight-bold">Subscribe</span></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section><!--/Section-->
<!--Section-->
<section>
    <div class="about-1 cover-image sptb bg-background-color" data-image-src="../assets/images/banners/banner5.jpg">
        <div class="content-text mb-0 text-white info">
            <div class="container">
                <div class="row text-center">
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status md-mb-0">
                            <div class="counter-icon">
                                <i class="typcn typcn-group-outline"></i>
                            </div>
                            <h5>Total Classes</h5>
                            <h2 class="counter mb-0">2569</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status-1 md-mb-0">
                            <div class="counter-icon text-warning">
                                <i class="typcn typcn-mortar-board"></i>
                            </div>
                            <h5>Total Teachers</h5>
                            <h2 class="counter mb-0">1765</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status md-mb-0">
                            <div class="counter-icon text-primary">
                                <i class="typcn typcn-globe-outline"></i>
                            </div>
                            <h5>Total Courses</h5>
                            <h2 class="counter mb-0">846</h2>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="counter-status status">
                            <div class="counter-icon text-success">
                                <i class="typcn typcn-news"></i>
                            </div>
                            <h5>Total Students</h5>
                            <h2 class="counter mb-0">7253</h2>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--/Section-->
<!--Section-->
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Courses</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="panel panel-primary">
            <div class="">
                <div class="tabs-menu ">
                    <!-- Tabs -->
                    <ul class="nav panel-tabs eductaional-tabs mb-6">
                        <li class=""><a href="#tab1" class="active show" data-toggle="tab">All</a></li>
                        <li><a href="#tab2" data-toggle="tab" class="">Short Term Courses</a></li>
                        <li><a href="#tab3" data-toggle="tab" class="">Long Term Courses</a></li>
                        <li><a href="#tab4" data-toggle="tab" class="">Online Courses</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel-body">
                <div class="tab-content">
                    <div class="tab-pane active show" id="tab1">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/12.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Marketing</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Digital Marketing</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Join Free</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/6.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> IT</a>

                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold"> Coding Training Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/5.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Degree</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Guitar Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-xl-0">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/7.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Literature</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Free Literature Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-md-0">
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/8.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white">Photoshop</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">PhotoShop Designing</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-0">
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/9.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white">Networking</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Networking classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block"><span class="">Subscribe</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab2">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-xl-0">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/7.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Literature</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Free Literature Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-md-0">
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/8.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Photoshop</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">PhotoShop Designing</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-0">
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/9.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white">Networking</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Networking classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>

                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab3">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-xl-0">
                                    <div class="ribbon ribbon-top-left text-danger"><span class="bg-danger">Free</span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/12.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> Marketing</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold"> Digital Marketing</h3></a>
                                            </div>
                                            Courses
                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>

                                        </div>
                                    </div>
                                    Courses
                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-md-0">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/6.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> IT</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">  Coding Training Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xl-4 col-md-6">
                                <div class="card mb-0">
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/5.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white">Degree</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">Guitar Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>

                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="tab4">
                        <div class="row">
                            <div class="col-xl-4 col-md-6">
                                <div class="card overflow-hidden mb-0">
                                    <div class="power-ribbon power-ribbon-top-left text-warning"><span class="bg-warning"><i class="fa fa-bolt"></i></span></div>
                                    <div class="item-card7-img">
                                        <div class="item-card7-imgs">
                                            <a href="education.html"></a>
                                            <img src="../assets/images/media/pictures/10.jpg" alt="img" class="cover-image">
                                        </div>
                                        <div class="item-card7-overlaytext">
                                            <a href="education.html" class="text-white"> App Developer</a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="item-card7-desc">
                                            <div class="item-card7-text">
                                                <a href="education.html" class="text-dark"><h3 class="font-weight-semibold">App Development Classes</h3></a>
                                            </div>

                                            <p class="mb-0">Nemo enim ipsam voluptatem voluptas sit aspernatur ratione voluptatem sequi nesciunt..</p>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <a href="education.html" class="btn btn-primary btn-block">Subscribe</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>How It Works?</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-white icon-bg  icon-service text-purple about">
                                <img src="../assets/images/png/about/employees.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Register</h4>
                                <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-lg-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-white icon-bg  icon-service text-purple about">
                                <img src="../assets/images/png/about/megaphone.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Create Account</h4>
                                <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="mb-sm-0 mb-4">
                        <div class="service-card text-center">
                            <div class="bg-white icon-bg  icon-service text-purple about">
                                <img src="../assets/images/png/about/pencil.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Coursed Posts</h4>
                                <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="">
                    <div class="">
                        <div class="service-card text-center">
                            <div class="bg-white icon-bg  icon-service text-purple about">
                                <img src="../assets/images/png/about/coins.png" alt="img">
                            </div>
                            <div class="servic-data mt-3">
                                <h4 class="font-weight-semibold mb-2">Get Earnings</h4>
                                <p class="text-muted mb-0">Nam libero tempore, cum soluta nobis est eligendi cumque facere possimus</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section>
    <div class="cover-image sptb bg-background-color text-white" data-image-src="../assets/images/banners/banner3.jpg">
        <div class="content-text mb-0">
            <div class="container">
                <div class="section-title center-block text-center">
                    <h2>CLASSBOOK</h2>
                    <span class="sectiontitle-design"><span class="icons"></span></span>
                    <p class="text-white-50">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
                </div>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="widgets-cards mb-5">
                                    <div class="d-flex">
                                        <div class="widgets-cards-icons">
                                            <div class="wrp counter-icon1 mr-5">
                                                <i class="fe fe-wifi"></i>
                                            </div>
                                        </div>
                                        <div class="widgets-cards-data">
                                            <div class="text-wrapper">
                                                <h4><a href="#" class="text-white fs-25">Learn Online Classes</a></h4>
                                                <p class="text-white mt-2 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="widgets-cards mb-5">
                                    <div class="d-flex">
                                        <div class="widgets-cards-icons">
                                            <div class="wrp counter-icon1 mr-5">
                                                <i class="fe fe-wifi-off"></i>
                                            </div>
                                        </div>
                                        <div class="widgets-cards-data">
                                            <div class="text-wrapper">
                                                <h4><a href="#" class="text-white fs-25">Learn Offline Classes</a></h4>
                                                <p class="text-white mt-2 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="widgets-cards">
                                    <div class="d-flex">
                                        <div class="widgets-cards-icons">
                                            <div class="wrp counter-icon1 mr-5">
                                                <i class="fe fe-book-open"></i>
                                            </div>
                                        </div>
                                        <div class="widgets-cards-data">
                                            <div class="text-wrapper">
                                                <h4><a href="#" class="text-white fs-25">Buy Books Online/Offline</a></h4>
                                                <p class="text-white mt-2 mb-0">Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 mrt-sm-2">
                        <div class="clients-img ">
                            <img src="../assets/images/media/0-7.jpg" alt="img" class="bg-white br-3 p-1">
                            <img src="../assets/images/media/0-2.jpg" alt="img" class="bg-white br-3 p-1">
                            <img src="../assets/images/media/0-3.jpg" alt="img" class="bg-white br-3 p-1">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section-->
<section class="sptb position-relative pattern">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2 class="text-white position-relative">Testimonials</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p class="text-white position-relative">Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="owl-carousel testimonial-owl-carousel">
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <h3 class="title">Elizabeth</h3>
                                    <span class="post">Web Developer</span>
                                    <div class="rating-stars mb-3">
                                        <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="4">
                                        <div class="rating-stars-container">
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm is--active">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                            <div class="rating-star sm">
                                                <i class="fa fa-star"></i>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80">
                                        <i class="fa fa-quote-left text-white-80"></i>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.
                                    </p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonia-data">
                                        <h3 class="title">williamson</h3>
                                        <span class="post">Web Developer</span>
                                        <div class="rating-stars mb-3">
                                            <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
                                            <div class="rating-stars-container">
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80"><i class="fa fa-quote-left"></i>But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. </p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="item text-center">
                        <div class="row">
                            <div class="col-xl-8 col-md-12 d-block mx-auto">
                                <div class="testimonia">
                                    <div class="owl-controls clickable">
                                        <div class="owl-pagination">
                                            <div class="owl-page ">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page">
                                                <span class=""></span>
                                            </div>
                                            <div class="owl-page active">
                                                <span class=""></span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="testimonia-data">
                                        <h3 class="title">Sophie Carr</h3>
                                        <span class="post">Web Developer</span>
                                        <div class="rating-stars mb-3">
                                            <input type="number" readonly="readonly" class="rating-value star" name="rating-stars-value" value="3">
                                            <div class="rating-stars-container">
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                                <div class="rating-star sm">
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <p class="text-white-80"><i class="fa fa-quote-left"></i>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                                    <a href="testimonial.html" class="btn btn-primary btn-lg">View all Testimonial</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="sptb">
    <div class="container">
        <div class="section-title center-block text-center">
            <h2>Download</h2>
            <span class="sectiontitle-design"><span class="icons"></span></span>
            <p>Sed do eiusmod tempor incididunt ut labore et dolore magna aliqua</p>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="text-center text-wrap">
                    <div class="btn-list">
                        <a href="#" class="btn btn-secondary btn-lg mb-sm-0"><i class="fa fa-android fa-1x mr-2"></i> Google Play</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
